{% extends 'menu.html' %}
{% block content -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Document</title>
        <link rel = 'stylesheet' href = "{{url_for('.static', filename='css/style_main.css')}}">
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=791b5693-71d4-4b16-b1dc-ba5c240a6aa4" type="text/javascript"></script>
    </head>
    <body>
        <div class="wrapper">
            <div id="map" class="map">
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script src = "{{url_for('.static', filename='js/map.js')}}"></script>
        <script src = "{{url_for('.static', filename='js/events.js')}}"></script>
        <script src = "{{url_for('.static', filename='js/socket.js')}}"></script>
    </body>
    </html>
</body>
</html>
 {% endblock -%}