{% extends 'menu.html' %}
{% block content -%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style_other_profile.css')}}">
</head>
<body>
    <div class="wrapper">
<!--        <div class="nav">-->
<!--            <div class="nav-main nav-item">-->
<!--                <a href="/index"><img class = 'nav-main-img' src="{{url_for('.static', filename='image/logo.svg')}}" alt=""></a>-->
<!--                <span class = 'nav-item-title'>Мейн</span>-->
<!--            </div>-->
<!--            <div class="nav-main nav-item">-->
<!--                <img class = 'nav-main-img' src="{{url_for('.static', filename='image/logo.svg')}}" alt="">-->
<!--                <span class = 'nav-item-title'>Профиль</span>-->
<!--            </div>-->
<!--            <div class="nav-main nav-item nav-item_friends">-->
<!--                <img class = 'nav-main-img' src="{{url_for('.static', filename='image/logo.svg')}}" alt="">-->
<!--                <span class = 'nav-item-title'>Друзья</span>-->
<!--            </div>-->
<!--            <div class="nav-main nav-item nav-item_notifications">-->
<!--                <img class = 'nav-main-img' src="{{url_for('.static', filename='image/logo.svg')}}" alt="">-->
<!--                <span class = 'nav-item-title'>Уведомления</span>-->
<!--            </div>-->
<!--            <div class="nav-main nav-item ">-->
<!--                <img class = 'nav-main-img' src="{{url_for('.static', filename='image/logo.svg')}}" alt="">-->
<!--                <span class = 'nav-item-title'>Инструкция</span>-->
<!--            </div>-->
<!--            <div class="nav-close-notifications">-->

<!--            </div>-->
<!--            <div class="nav-notifications">-->
<!--                <div class="nav-notifications-item">-->
<!--                    Мой член большой-->
<!--                </div>-->
<!--                <div class="nav-notifications-item">-->

<!--                </div>-->
<!--                <div class="nav-notifications-item">-->

<!--                </div>-->
<!--                <div class="nav-notifications-item">-->

<!--                </div>-->
<!--            </div>-->
<!--            <div class="nav-friends">-->
<!--                <div class="nav-friends-item">-->
<!--                    <div class="nav-friends-item-ava">-->
<!--                        <img src="{{url_for('.static', filename='image/logo.svg')}}" alt="">-->
<!--                    </div>-->
<!--                    <div class="nav-friends-item-nick">-->
<!--                        <span>бухарик</span>-->
<!--                    </div>-->
<!--                    <div class="nav-friends-item-online">-->
<!--                        <span>Online</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="nav-friends-item">-->

<!--                </div>-->
<!--                <div class="nav-friends-item">-->

<!--                </div>-->
<!--                <div class="nav-friends-item">-->

<!--                </div>-->
<!--                <div class="nav-friends-chat">-->
<!--                    <div class="nav-friends-chat-field">-->
<!--                    </div>-->
<!--                    <div class="nav-friends-chat-form">-->
<!--                        <form name = 'chatForm' action="">-->
<!--                            <div class="form-container">-->
<!--                                <div contenteditable="true" class="nav-friends-chat-form-text">-->

<!--                                </div>-->
<!--                                <div class="nav-friends-chat-form-submit" >-->
<!--                                    <input name = 'message-submit' type="submit">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    <div class="nav-friend-chat-close">-->
<!--                        <img src="{{url_for('.static', filename='image/logo.svg')}}" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="container">
            <div class="profile-main">
                <div class="profile-main-ava">
                    <div class="profile-main-ava-image">
                        <img src="{{url_for('.static', filename='image/logo.svg')}}" alt="">
                    </div>

                    <div class="profile-main-ava-nickname">
                        <span class = 'profile-main-ava-nickname-nick'>{{name}}</span>
                    </div>
                    <div class="profile-main-ava-add invis">
                        <button class="profile-main-ava-add-button">Добавить в друзья</button>
                    </div>
                    <div class="profile-main-ava-remove invis">
                        <button class="profile-main-ava-remove-button">Удалить из друзей</button>
                    </div>
                    <div class="profile-main-ava-accept invis">
                        <button class="profile-main-ava-accept-button accept">Принять</button>
                         <button class="profile-main-ava-accept-button reject">Отменить</button>
                    </div>
                    <div class="profile-main-ava-cancel invis">
                        <button class="profile-main-ava-cancel-button">Отменить</button>
                    </div>
                    <div class="profile-main-ava-loading invis">

                    </div>
                </div>
                <div class="profile-main-achievements">
                    <div class="profile-main-achievements-header">
                        <span>Друзья</span>
                    </div>
                    <div class="profile-main-achievements-icons">
                       {% for friend_name in friends_list.friends_names %}
                        <a href="/profile/{{friend_name}}">
                            <div class="profile-main-achievements-icons-icon">
                                <img src="{{url_for('.static', filename='image/logo.svg')}}" alt="">
                                <span>{{friend_name}}</span>
                            </div>
                        </a>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="profile-info">
                <div class="profile-info-status">
                    <span>{{description}}</span>
                </div>
                <div class="profile-info-events">
                    <div class="profile-info-events-header">
                        <span>Посещённые мероприятия</span>
                    </div>
                    <div class="profile-info-events-cards">
                        <div class="profile-info-events-cards-card">
                            <span>s. Ut recusandae et corrupti deserunt necessitatibus nihil nemo ullam officia?</span>
                        </div>
                        <div class="profile-info-events-cards-card">
                            <span>esse veritatis blanditiis accusantium eos nobis qui beatae.</span>
                        </div>
                        <div class="profile-info-events-cards-card">
                            <span>sequi iure soluta magni possimus ratione ullam.</span>
                        </div>
                        <div class="profile-info-events-cards-card">
                            <span>dio itaque unde alias? Tempore neque, accusamus error beatae ullam eos ex, vitae officia minima, at optio harum dolor. Quae iure nihil architecto?</span>
                        </div>
                    </div>
                </div>
                <div class="profile-info-activ">
                    <div class="profile-info-activ-descr">
                        <span>Активность</span>
                    </div>
                    <div class="profile-info-activ-timeline">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>let friendStatus = "{{friend_status}}"</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{url_for('.static', filename='js/other_profile_script.js')}}"></script>
</body>
</html>
 {% endblock -%}