{% extends 'menu.html' %}
{% block content -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style_profile.css')}}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="profile-main">
                <div class="profile-main-ava">
                    <div class="profile-main-ava-image">
                        <img src="{{url_for('.static', filename='image/logo.svg')}}" alt="">
                    </div>

                    <div class="profile-main-ava-nickname">
                        <span class = 'profile-main-ava-nickname-nick'>{{name}}</span>
                        <span class = 'profile-main-ava-nickname-esc'>выйти</span>
                        <div class="profile-main-ava-nickname-escapeWindow">
                            <div class="profile-main-ava-nickname-escapeWindow-window">
                                <div class="window-text">Ты действительно хочешь выйти?</div>
                                <div class="window-buttons">
                                    <div class="window-buttons-exit">
                                        <a href="/logout"><button class = 'window-buttons-exit-button window-button'>Выйти</button></a>
                                    </div>
                                    <div class="window-buttons-cancel">
                                        <button class="window-buttons-cancel-button window-button">Отмена</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-main-ava-edit-but">
                        <button class="profile-main-ava-edit-button">Редактировать профиль</button>
                    </div>
                    <div class="profile-main-ava-edit">
                        <div class="profile-main-ava-edit-Editwindow">
                            <div class="window-text">Редактирование профиля</div>
                            <form name = 'editProfile' action="">
                                <div class="window-edit">
                                    <div class="window-edit-nick">
                                        <div class="window-edit-nick-descr">
                                            Сменить имя
                                        </div>
                                        <div class="window-edit-nick-field">
                                            <input name="username" type="text">
                                        </div>
                                    </div>
                                    <div class="window-edit-status">
                                        <div class="window-edit-status-descr">
                                            Сменить статус
                                        </div>
                                        <div class="window-edit-status-field">
                                            <input name="description" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="window-submit">
                                    <div class="window-submit-submit">
                                        <input name = 'submitChanges' type="submit">
                                    </div>
                                    <div class="window-submit-clear">
                                        <input name = 'reserChanges' type="reset">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="profile-main-achievements">
                    <div class="profile-main-achievements-header">
                        <span>Друзья</span>
                    </div>
                    <div class="profile-main-achievements-icons">
                        {% for friend_name in friends_list.friends_names %}
                        <a href="/profile/{{friend_name}}">
                            <div class="profile-main-achievements-icons-icon">
                                <img src="{{url_for('.static', filename='image/logo.svg')}}" alt="">
                                <span>{{friend_name}}</span>
                            </div>
                        </a>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="profile-info">
                <div class="profile-info-status">
                    <span>{{description}}</span>
                </div>
                <div class="profile-info-events">
                    <div class="profile-info-events-header">
                        <span>Посещённые мероприятия</span>
                    </div>
                    <div class="profile-info-events-cards">
                        <div class="profile-info-events-cards-card">
                            <span>s. Ut recusandae et corrupti deserunt necessitatibus nihil nemo ullam officia?</span>
                        </div>
                        <div class="profile-info-events-cards-card">
                            <span>esse veritatis blanditiis accusantium eos nobis qui beatae.</span>
                        </div>
                        <div class="profile-info-events-cards-card">
                            <span>sequi iure soluta magni possimus ratione ullam.</span>
                        </div>
                        <div class="profile-info-events-cards-card">
                            <span>dio itaque unde alias? Tempore neque, accusamus error beatae ullam eos ex, vitae officia minima, at optio harum dolor. Quae iure nihil architecto?</span>
                        </div>
                    </div>
                </div>
                <div class="profile-info-activ">
                    <div class="profile-info-activ-descr">
                        <span>Активность</span>
                    </div>
                    <div class="profile-info-activ-timeline">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{url_for('.static', filename='js/script_profile.js')}}"></script>
</body>
</html>
 {% endblock -%}