@import url(./nullstyle.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: 'Montserrat';
  color: orange;
}

.wrapper::before {
  content: '';
  filter: blur(3px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-image: url("../image/background.png");
  background-size: cover;
  background-position: right;
}

.wrapper .nav {
  border-right: 1px solid orange;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 190px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
}

@media (max-width: 1280px) {
  .wrapper .nav {
    width: 160px;
  }
}

@media (max-width: 1024px) {
  .wrapper .nav {
    width: 140px;
  }
}

@media (max-width: 854px) {
  .wrapper .nav {
    width: 120px;
  }
}

@media (max-width: 799px) {
  .wrapper .nav {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .wrapper .nav {
    flex-direction: row;
    width: 100%;
    height: 50px;
  }
}

.wrapper .nav .nav-item {
  width: 130px;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .wrapper .nav .nav-item {
    width: 100px;
  }
}

@media (max-width: 1024px) {
  .wrapper .nav .nav-item {
    width: 80px;
  }
}

@media (max-width: 854px) {
  .wrapper .nav .nav-item {
    width: 65px;
  }
}

.wrapper .container {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 30px;
  width: 1155px;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .wrapper .container {
    width: 949px;
  }
}

@media (max-width: 1240px) {
  .wrapper .container {
    width: 749px;
  }
}

@media (max-width: 1024px) {
  .wrapper .container {
    width: 649px;
  }
}

@media (max-width: 889px) {
  .wrapper .container {
    width: 599px;
  }
}

.wrapper .container .profile-main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.wrapper .container .profile-main .profile-main-ava {
  border-bottom: 1px solid rgba(227, 148, 1, 0.5);
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .container .profile-main .profile-main-ava .profile-main-ava-image {
  width: 300px;
  border: 1px solid #e39401;
  border-radius: 50%;
}

.wrapper .container .profile-main .profile-main-ava .profile-main-ava-image img {
  border-radius: 50%;
}

@media (max-width: 1240px) {
  .wrapper .container .profile-main .profile-main-ava .profile-main-ava-image {
    width: 200px;
  }
}

@media (max-width: 1024px) {
  .wrapper .container .profile-main .profile-main-ava .profile-main-ava-image {
    width: 200px;
  }
}

.wrapper .container .profile-main .profile-main-ava .profile-main-ava-nickname {
  width: 100%;
  display: flex;
  align-self: start;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0 0 0px;
}

@media (max-width: 1024px) {
  .wrapper .container .profile-main .profile-main-ava .profile-main-ava-nickname {
    font-size: 15px;
  }
}

.wrapper .container .profile-main .profile-main-ava .profile-main-ava-nickname .profile-main-ava-nickname-nick {
  display: inline-block;
}

.wrapper .container .profile-main .profile-main-ava .profile-main-ava-nickname .profile-main-ava-nickname-esc {
  display: inline-block;
  border: 1px solid rgba(227, 148, 1, 0.7);
  color: rgba(227, 148, 1, 0.7);
  padding: 3px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.wrapper .container .profile-main .profile-main-ava .profile-main-ava-nickname .profile-main-ava-nickname-esc:hover {
  border: 1px solid #e39401;
  color: #e39401;
}

.wrapper .container .profile-main .profile-main-ava .profile-main-ava-edit {
  margin-top: 15px;
  width: 100%;
  border: 1px solid #e39401;
  text-align: center;
  border-radius: 10px;
}

.wrapper .container .profile-main .profile-main-ava .profile-main-ava-edit .profile-main-ava-edit-button {
  background: none;
  height: 30px;
  color: orange;
}

.wrapper .container .profile-main .profile-main-achievements {
  margin-top: 40px;
}

@media (max-width: 1024px) {
  .wrapper .container .profile-main .profile-main-achievements {
    margin-top: 20px;
  }
}

.wrapper .container .profile-main .profile-main-achievements .profile-main-achievements-header {
  font-size: 16px;
  font-weight: 600;
}

.wrapper .container .profile-main .profile-main-achievements .profile-main-achievements-icons {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-row-gap: 20px;
}

.wrapper .container .profile-main .profile-main-achievements .profile-main-achievements-icons .profile-main-achievements-icons-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
}

.wrapper .container .profile-main .profile-main-achievements .profile-main-achievements-icons .profile-main-achievements-icons-icon img {
  width: 90%;
}

.wrapper .container .profile-main .profile-main-achievements .profile-main-achievements-icons .profile-main-achievements-icons-icon span {
  display: block;
  margin-top: 8px;
  font-size: 10px;
}

.wrapper .container .profile-info {
  margin-top: 50px;
  margin-left: 40px;
}

.wrapper .container .profile-info .profile-info-status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid #e39401;
}

.wrapper .container .profile-info .profile-info-events {
  margin-top: 50px;
}

@media (max-width: 1024px) {
  .wrapper .container .profile-info .profile-info-events {
    margin-top: 30px;
  }
}

.wrapper .container .profile-info .profile-info-events .profile-info-events-header {
  font-size: 16px;
  font-weight: 600;
}

.wrapper .container .profile-info .profile-info-events .profile-info-events-cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.wrapper .container .profile-info .profile-info-events .profile-info-events-cards .profile-info-events-cards-card {
  border: 1px solid #e39401;
  border-radius: 10px;
  padding: 10px;
}

.wrapper .container .profile-info .profile-info-activ {
  margin-top: 30px;
}

.wrapper .container .profile-info .profile-info-activ .profile-info-activ-descr {
  font-size: 16px;
  font-weight: 600;
}

.wrapper .container .profile-info .profile-info-activ .profile-info-activ-timeline {
  margin-top: 15px;
  height: 150px;
  border: 1px solid #e39401;
  border-radius: 15px;
}

@media (max-width: 1024px) {
  .wrapper .container .profile-info .profile-info-activ .profile-info-activ-timeline {
    height: 120px;
  }
}
