.profile-main-ava-edit.visible {
    display: flex;
  }
  
.profile-main-ava-edit {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    backdrop-filter: blur(5px);
  }
  
.profile-main-ava-edit .profile-main-ava-edit-Editwindow {
    display: flex;
    flex-direction: column;
    pointer-events: all;
    width: 450px;
    height: 200px;
    align-items: center;
    border: 1px solid #e39401;
    backdrop-filter: blur(3px);
    border-radius: 15px;
    padding: 10px;
  }
  
.profile-main-ava-edit .profile-main-ava-edit-Editwindow .window-text {
    font-size: 24px;
  }
  
.profile-main-ava-edit .profile-main-ava-edit-Editwindow .window-edit {
    margin-top: 30px;
  }
  
.profile-main-ava-edit .profile-main-ava-edit-Editwindow .window-edit .window-edit-nick {
    display: flex;
    column-gap: 20px;
    font-size: 18px;
    justify-content: space-between;
  }
  
.profile-main-ava-edit .profile-main-ava-edit-Editwindow .window-edit .window-edit-nick .window-edit-nick-field input {
    background: none;
    color: #e39401;
    border: 1px solid #e39401;
    border-radius: 5px;
    padding: 0 5px;
  }
  
.profile-main-ava-edit .profile-main-ava-edit-Editwindow .window-edit .window-edit-status {
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
    font-size: 18px;
    justify-content: space-between;
  }
  
.profile-main-ava-edit .profile-main-ava-edit-Editwindow .window-edit .window-edit-status .window-edit-status-field input {
    background: none;
    color: #e39401;
    border: 1px solid #e39401;
    border-radius: 5px;
    padding: 0 5px;
  }
  
.profile-main-ava-edit .profile-main-ava-edit-Editwindow .window-submit {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    column-gap: 50px;
  }
  
.profile-main-ava-edit .profile-main-ava-edit-Editwindow .window-submit .window-submit-submit input {
    cursor: pointer;
    background: none;
    color: #e39401;
    border: 1px solid #e39401;
    padding: 5px;
    border-radius: 5px;
  }
  
.profile-main-ava-edit .profile-main-ava-edit-Editwindow .window-submit .window-submit-clear input {
    cursor: pointer;
    background: none;
    color: #e39401;
    border: 1px solid #e39401;
    padding: 5px;
    border-radius: 5px;
  }