
.nav-friends {
    display: none;
    flex-direction: column;
    width: 100%;
}
.nav.fr_open .nav-friends{
    display: flex;
}

.searched-friends {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    padding: 5px 0;
    border-bottom: 1px solid orange;
}
.searched-users{
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    padding: 5px 0;
    border-bottom: 1px solid orange;
}
